/* Importation de la police */
@font-face {
    font-family: font1;
    src: url('Inter-Regular.ttf');
}

/* Déclaration de variables de couleurs */
:root {
    --colorTxt : #ffffff;
    --colorBg: #252525;
    --colorBtn : #9a009a;
    --colorBtnHover: pink;
}
/* Mini reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: font1;
    background-color: var(--colorBg);
    color: var(--colorTxt)
}